<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Tu compra </title>
	<link rel="stylesheet" href="../static/css/estilo.css">
</head>

<body>

	<header class="container">
		<h1>El mejor e-commerce para comprar la mejor tecnología </h1>
		<img id="logo" src="../static/img/logofinal.jpg" alt="Logo">
	</header>

	<nav>
		<a href="inicio.html">Home</a>
		<a href="">Carrito</a>
		<a href="">Nosotros</a>
	</nav>

	<section>

		<table class=producto>
          
            <thead>
              <th class="descripcionsamsung" colspan="9">Notebook 15.6 Samsung 4gb De Ram Sdd 128 Gb</th>
            </thead>
          
            <tbody>
            <tr>
		      <td> <img class="fotosamsung" src="../static/img/Samsung1.png" alt="samsung"></td>
              <td class="modelo">Modelo RV508 Características:</td>
              <td class="caracteristicas">
              <li>Intel Pentium Processor:T4500 (2.30 GHz, 800 MHz, 1 MB)</li>
              <li>Display: 15.6″ LED HD (1,366 x 768) Gloss</li>
              <li>Hard Disk de 320 GB</li>
              <li>DVD Super multi drive</li>
              <li>RAM: 2GB DDR3 RAM Upgradeable up to 4GB</li>
              <li>Operating system: DOS</li>
              <li>Wi-Fi 802.11 b/g/n</li>
              <li>Bluetooth V3.0 High Speed</li>
            </td>
		    </tr>
              
            <tr>
              <td class="celdaprecio" colspan="8"> Precio $30.000</td>
            </tr>
                                    
            </tbody>
          
            <tfoot> 
            <tr>
				<td class="celdacomprar"><a href="">COMPRAR</a></td>
			</tr>
            </tfoot>
          
		</table>
		
    </section>


</body>

</html>